@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h3 class="display-4">Prabhjot Singh Jolly</h3>
</div>

@section Intro{
    <p>Hello, I'm Prabhjot, a proud resident of Haryana, India. Currently, I am pursuing my postgraduate studies in Mobile Applicaion Development. I'm excited to expand my knowledge and explore new opportunities in my field.</p>
}
